<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }
            header {
                background: #35424a;
                color: #ffffff;
                padding: 10px 0;
                text-align: center;
            }
            main {
                padding: 20px;
            }
            footer {
                text-align: center;
                padding: 10px 0;
                background: #35424a;
                color: #ffffff;
                position: relative;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Bienvenue sur l'accueil</h1>
        </header>
        <main>
            <p>
                Ci-dessous,<br>
                Vous trouverez les liens pour accéder aux pages :
            </p>
            <ul>
                <li>Toutes les informations de toutes les <a href="/VMs">VMs</a>.</li>
                <li>Toutes les informations d'une VM spécifique'<a href="/VMs/0">VMs</a></li>
            </ul>
        </main>
        <footer>
            <p>&copy; 2024 Mon Site Web</p>
        </footer>
    </body>
</html>