<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page de vérification</title>
        <style>
            /* Style du pop-up */
            .modal {
                display: none; /* Masqué par défaut */
                position: fixed;
                z-index: 1; /* Au-dessus des autres éléments */
                left: 0;
                top: 0;
                width: 100%; /* Largeur complète */
                height: 100%; /* Hauteur complète */
                overflow: auto; /* Activer le défilement si nécessaire */
                background-color: rgb(0,0,0); /* Couleur de fond */
                background-color: rgba(0,0,0,0.4); /* Noir avec transparence */
            }
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; /* Centré */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Largeur de la modale */
            }
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h1>Êtes-vous mon professeur?</h1>
                <button class="button" onclick="window.location.href='accueil'">Oui</button>
                <button class="button" onclick="window.location.href='https://www.google.com'">Non</button>
            </div>
        </div>
        <script>
            // Obtenir le modal
            var modal = document.getElementById("myModal");

            // Afficher le modal lorsque la page est chargée
            window.onload = function() {
                modal.style.display = "block";
            }

            // Obtenir l'élément <span> qui ferme le modal
            var span = document.getElementsByClassName("close")[0];
        </script>
    </body>
</html>